body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    font-size: 18pt;
    color: rgb(207, 207, 0);
    text-align: center;
    padding: 0px 20px 0px 20px;
}

h2{
    font-size: 20px;
    color: rgb(207, 207, 0);
    
}

legend{
    color: rgb(207, 207, 0);
    font-weight: bolder;
}

#cabecaLogo{
    margin-top: 15px;
    border-radius: 200px;
    width: 60px;
}

input#servicos{
    margin-bottom: 10px;
}

input#data{
    border-radius: 10px;
    border: 1px;
    margin-left: 5px;
}

#lblData{
    margin-left: 5px;
}

fieldset.servicos{
    padding: 10px 20px 10px 20px;
    margin: 10px 30px 10px 30px;
}

fieldset.datas{
    padding: 10px 20px 10px 20px;
    margin: 10px 30px 10px 30px;
    display: flex;  
}

fieldset.assinatura{
    padding: 0px 20px 0px 20px;
    margin: 10px 30px 10px 30px;
}

#generatePdf{
    margin-left: 50%;
    margin-right: 50%;
    border-radius: 10px;
    padding: 0px 40px 0px 40px;
    text-align: center;
}

